<!DOCTYPE html>
<html>
<head>
  <title>TestNestedAttributes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1><%= link_to "Recipes", root_path %></h1>


  <%= yield %>

  <p><%= link_to "New Recipe", new_recipe_path %></p>


  <br />
  <h4>Testing nested attributes</h4>

</body>
</html>
